<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dheeraj Nagpal Dng</title>

  <!-- Bootstrap Core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="assets/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Dheeraj Nagpal</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About Dheeraj</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Experiences</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Projects</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
	  <h1 class="mb-4">"loading......99%..." </h1>
      <h4 class="mb-2">Those who can not remember the past are condemned to repeat it...Dynamic Programming</h4>
	  <h3 class="mb-5"><em> A Web Resume </em></h3> 
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Know more about Dheeraj</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Dheeraj Nagpal!</h2>
		  <img class="img-fluid" src = "assets/img/Dheeraj photo.jpg" width ="20%" height="20%">
		  <h5>Researcher</h5>
		  <h6>Data science Enthusiast</h6>
          <p class="lead mb-5">“Highly-Motivated, self-learning data science enthusiast 
		  with the knack of applying advanced, bleeding edge and high-tech concepts to solve real-world problems”.
		  Presuing B.tech in computer science and engineering from Punjabi University Patiala. 
			Very good in problem solving and excellent Team player. Knows to utilize and use my technical skills 
			and knowledge for the growth of the organization. Currently researching on segmentation of retinal vessel with team size of 3 
			using various deep learning and machine learning concepts. Good in competitive programming, having 5 stars(gold badge) 
			in problem solving at <a href="https://www.hackerrank.com/Dng1999">hacker-rank</a></p>
			<h3> 
			<br>
			<div class = "row">
				<div class="col-md-6 mb-5 mb-lg-0">
					<span class="service-icon rounded-circle mx-auto mb-3">
						<link rel="stylesheet" 
						href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
						<i class="glyphicon glyphicon-envelope"style="font-size:36px;"></i>
					</span>
					<h4>dheerajnagpal21081999@yahoo.com</h4>
				</div>
				<div class="col-md-6 mb-5 mb-lg-0">
					<a class="service-icon rounded-circle mx-auto mb-3" href = "https://www.linkedin.com/in/dheeraj-nagpal-861a5a169/">
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
						<i class="fab fa-linkedin"></i>
					</a>
					<h4><a href="https://www.linkedin.com/in/dheeraj-nagpal-861a5a169/">Dheeraj Nagpal</a></h4>
				</div>
			</div>
			<br><br><br><br>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Experiences and Education</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  
  
 
 <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
       <h1 class="text-secondary mb-0">Dheeraj Nagpal</h1>
        <h2 class="mb-5">Experience & Education</h2>
      </div>
      <div class="row">
        
		 <!<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">>
		 <div class="col-md-6 mb-5 mb-lg-0">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://drive.google.com/open?id=1sDhvHZqU86lo96WNV5PX0iWqi7pNbGAt">
            <i class="fas fa-user-graduate"></i>
          </a>
          <h4>
            <strong>Education</strong>
          </h4>
          <p class="text-faded mb-0">B.Tech(2017-21)<br>computer science and Engineering<br>Punjabi University patiala</p>
        </div>
		<br><br><br>
		<div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Ongoing Research</strong>
          </h4>
          <p class="text-faded mb-0">Segmentation of Retinal blood vessels<br>Team of 3
            <i class="fas fa-heart"></i>
            <br>Deep Learning & Machine Learning!</p>
        </div>
	</div>
	<br><br><br>
	<div class = "row">
		<div class="col-md-6 mb-5 mb-lg-0">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://drive.google.com/file/d/1qLB7vlm8H4DOPgejFnhfwvhFgkAKmTAi/view">
            <i class="icon-mustache"></i>
          </a>
          <h4>
			<strong>Data Analyst Intern</strong>
          </h4>
          <p class="text-faded mb-0">Neonex Technology <br>Jun 2019 - jul 2019</p>
		  <a href = "https://drive.google.com/file/d/1qLB7vlm8H4DOPgejFnhfwvhFgkAKmTAi/view">WORK CREDENTIALS</a>
        </div>
		
		
		<div class="col-lg-3 col-md-6">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://drive.google.com/open?id=1SZ2AibXQQ84nktD0eh6uXNUCpTVG0-iA">
			<script src="https://kit.fontawesome.com/a076d05399.js"></script>
			<i class="fas fa-file"></i>
            
          </a>
          <h4>
            <strong>Summer Training </strong>
          </h4>
          <p class="text-faded mb-0">Tech-Live solutions<br>May 2017 - July 2017</p>
        </div>
      </div>
    </div>
  </section>
<section class="content-section bg-secondary text-white text-center" id="services">
	<div class="container">
      <div class="content-section-heading">
        <h2 class="text-white mb-5">Languages known</h2>
      </div>
      <div class="row">
        
		 <div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fab fa-cuttlefish fa-lg">++</i>
          </span>
          <h4>
            <strong>C++</strong>
          </h4>
          <p class="text-faded mb-0">Ratings: 8/10<i class="fas fa-star"></i></p>
        </div>
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://www.hackerrank.com/Dng1999">
            <i class="fab fa-python fa-lg"></i>
          </a>
          <h4>
            <strong>Python</strong>
          </h4>
          <p class="text-faded mb-0">Ratings: 9/10<i class="fas fa-star"></i></p>
		  <p class="text-faded mb-0">Hacker-Rank python 5 stars</p>
        </div>
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fab fa-cuttlefish fa-lg"></i>
          </span>
          <h4>
            <strong>C language</strong>
          </h4>
          <p class="text-faded mb-0">Ratings: 6/10<i class="fas fa-star"></i></p>
        </div>
	</div>
	<br><br><br>
	 <div class="content-section-heading">
        <h2 class="text-white mb-0">Technical Skills</h2>
      </div><br><br>
	<div class = "row">
		<div class="col-md-4 mb-5 mb-lg-0">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://github.com/Dheeraj-1999"> 
			<i class="fab fa-github"style="font-size:36px;"></i>
            
          </a>
          <h4>
            <strong>Git and GitHub </strong>
          </h4>
        </div>
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <a class="service-icon rounded-circle mx-auto mb-3" href = "https://www.hackerrank.com/Dng1999">
			<i class="fab fa-cuttlefish"style="font-size:36px;"><i class="fab fa-pinterest-p"style="font-size:36px;"></i></i>
            
          </a>
          <h4>
            <strong>Competitive Programming</strong>
          </h4>
        </div>
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"> 
			<i class="fas fa-chart-bar"style="font-size:36px;"></i>
          </span>
          <h4>
            <strong>Data scrapping and Data Analysis</strong>
          </h4>
          <p class="text-faded mb-0">Beautiful Soup || Pandas || Matplotlib || Numpy</p>
        </div>
		</div><br>
	<div class = "row">	
		<div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"> 
			<i class="fas fa-file-code-o"style="font-size:36px;"></i>
          </span>
          <h4>
            <strong>Deep learning and Machine Learning</strong>
          </h4>
          <p class="text-faded mb-0">keras || CNN || ANN || scikit-learn </p>
        </div>	
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"> 
			<i class="fas fa-laptop-code"style="font-size:36px;"></i>
          </span>
          <h4>
            <strong>Algorithms and Data Structures</strong>
          </h4>
        </div>	
		
		<div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"> 
			<i class="fa fa-file-text"style="font-size:36px;"></i>
          </span>
          <h4>
            <strong>Web Development</strong>
          </h4>
		  <p class="text-faded mb-0">Django </p>
        </div>	
	</div>
	
	
	</div>
</section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="text-secondary mb-0">Dheeraj Nagpal</h2>
        <h1 class="mb-5">Recent Projects</h1>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="assets/retavahin.html">
            <span class="caption">
              <span class="caption-content">
                <h1 class = "mb-2">Retinal Vessel Segmentation</h1> <p class = "mb-0"> using Deep Learning and Machine Learning</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-6.jpg" alt = "" style = "filter: blur(4px);-webkit-filter: blur(4px);">
          </a>
		  
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href='https://github.com/Dheeraj-1999/Currency-Recognition-system'>
            <span class="caption">
              <span class="caption-content">
			  <h1>Currency-Recognition-system</h1>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-7.jpg" alt="" style="filter: blur(4px);-webkit-filter: blur(4px);">
          </a>
        </div>
        
		<div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/Dheeraj-1999/Facial-recognition">
            <span class="caption">
              <span class="caption-content">
                <h1>Facial Recognition-system</h1>
                <p class="mb-0">A Flask based facial exp recognition system using keras and opencv as Backend</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-8.jpg" alt="" style="filter: blur(4px);-webkit-filter: blur(1px);">
          </a>
        </div>
		
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://jumpkart.herokuapp.com/startpage/">
            <span class="caption">
              <span class="caption-content">
                <h1>Ecommerce Website</h1>
                <p class="mb-0">Django made ecommerce website</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-9.jpg" alt="" style="filter: blur(4px);-webkit-filter: blur(1px);">
          </a>
        </div>
		
		<div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/Dheeraj-1999/Stone-paper-scsioor">
            <span class="caption">
              <span class="caption-content">
                <h1>Stone paper Scissor</h1>
                <p class="mb-0">Hand gestures recognition</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-10.jpg" alt="" style="filter: blur(4px);-webkit-filter: blur(0px);">
          </a>
        </div>
		
		<div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/Dheeraj-1999/Student-Intevention-system">
            <span class="caption">
              <span class="caption-content">
                <h1>Student Intervention system</h1>
                <p class="mb-0">Machine Learning model to predict grade as pass or fail</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/img/portfolio-11.png" alt="" style="filter: blur(4px);-webkit-filter: blur(0px);">
          </a>
        </div>
		
      </div>
    </div>
	
	
	
  </section>
  
  <section class="content-section bg-primary text-white" id="ProgFrame">
    <div class="container text-center">
      <div class="content-section-heading">
        <h1 class="text-secondary mb-0">KNOWN TOOLS AND FRAMEWORKS</h1>
        <h2 class="mb-5">Some Frameworks Dheeraj had worked with...</h2>
      </div>
      <div class="row">
	  <!-- col-lg-3 col-md-6 mb-5 mb-lg-0 -->
        <div class="col-md-4 mb-6 mb-lg-0">
          <h4>
            <strong>Keras and Tensorflow</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
		
        <div class="col-md-4 mb-6 mb-lg-0">
          <h4>
            <strong>Scikit-learn</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        
		<div class="col-md-4 mb-6 mb-lg-0">
          <h4>
            <strong>Django</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
		</div>
       
	   <br><br><br>
	   
      
	  <div class="row">
        
		<div class="col-md-4 mb-5 mb-lg-0">
          <h4>
            <strong>Pandas, Matplotlib, Numpy & Beautiful-Soup</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
		
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4>
            <strong>Git and GitHub</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
		
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4>
            <strong>Heroku</strong>
          </h4>
          <p class="text-faded mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Call to Action 
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Map 
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </section>

  <!-- Footer 
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/stylish-portfolio.min.js"></script>

<footer class="footer text-center" id="contact">
    <div class="container">
      <div class="container text-center">
        <p class="">Thanks For Being Here.<br>FEEL FREE TO CONTACT</p><br>
        <br>
      </div>
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/dheeraj-nagpal-861a5a169/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="mailto:dheerajnagpal21081999@yahoo.com" target="_blank">
            <i class="glyphicon glyphicon-envelope"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://github.com/Dheeraj-1999/" target="_blank">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>

</body>

</html>
